* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

  --transition: all 400ms ease;
}

body {
  font-family: "Poppins";
  line-height: 1.7;
  color: rgb(28, 22, 51);
  background: #bce0f4;
}
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}
section {
  padding: 6rem 0;
}
section h2 {
  text-align: center;
  margin-bottom: 4rem;
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}
h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.3rem;
}
a {
  color: black;
}
img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.btn {
  display: inline-block;
  background: rgb(255, 255, 255);
  color: black;
  padding: 0.3rem 1rem;
  border: 1px solid transparent;
  font-weight: 400;
  transition: var(--transition);
}
.btn:hover {
  background: transparent;
  color: blue;
  border-color: black;
}
.btn-primary {
  background: red;
  color: white;
}

/*======================NAVBAR=========================*/
#menu-icon{
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

.header-program{
  text-decoration: none;
  background-color: #BCE0F4;
  position: fixed;
  padding: 10px 10%;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo{
  float: left;
  width: 200px;
  height: 45px;
}


.navbar-program a{
  color: #193444;
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
  text-decoration: none;
  padding: 0 10px;
  letter-spacing: 0.5px;
  font-size: 15px;
}


.navbar-program  a:after{
  content: '';
  height: 3px;
  width: 0;
  background: #193444;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar-program  a.active,
.navbar-program  a:hover{
  color: #193444;
  font-weight: bolder;
}

.navbar-program a.active:after{
  width: 100%;
}

.navbar-program a:hover:after{
  width: 100%;
}

/*===============styleeing css scroll with javascript================*/
.window-scroll {
  background: #bce0f4;
  box-shadow: 0 1rem 2 rem rgba(0, 0, 0, 0.7);
}

.nav_container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav button {
  display: none;
}
.nav_menu {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.nav_menu a {
  font-size: 0.9rem;
  transition: var(--transition);
  text-decoration: none;
  padding: 0 10px;
  letter-spacing: 0.5px;
  font-size: 15px;
}
.nav_menu li.active a {
  color: black;
  font-size: 600;
  transition-duration: 300ms;
  border-bottom: 3px solid rgb(15, 12, 29);
}

.nav_menu a:hover {
  color: #193444;
  font-weight: 600;
  padding: 8px 0;
  transition: 0.5s;
  height: 3px;
  border-bottom: 4px solid rgb(15, 12, 29);
  border-bottom-left-radius: 0.5s;
}

/*content: '';
height: 3px;
width: 0;
position: absolute;
left: 0;
bottom: 10px;
transition: 0.5s;*/

/*======================HEADER=========================*/
header1 {
  position: relative;
  top: 5rem;
  overflow: hidden;
  height: 70vh;
  margin-bottom: 5rem;
}
.header_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  height: 100%;
  padding-top: 5%;
}
.header_left h1 {
  padding-top: 10%;
}
.header_left p {
  margin: 0.5rem 0 2.4rem;
}
.header_right-image {
  padding-top: 5%;
}

.btn {
  background-color: blue;
  color: antiquewhite;
  border-radius: 30px;
  z-index: 5;
}

/*======================PROGRAM=========================*/

.programs {
  margin-top: 10rem;
  background: rgb(247, 241, 231);
  border-radius: 100px 0 0 0;
}
.selengkapnya {
  text-align: center;
  margin-top: 2rem;
}
.link_program {
  font-weight: bolder;
  text-decoration: underline;
  color: rgb(43, 43, 247);
  text-align: center;
}
.link_program::after {
  color: aliceblue;
}
.programs_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}
.program {
  background: white;
  text-align: center;
  border-radius: 15px;
  border: 1px solid transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: var(--transition);
}
.program:hover {
  background: transparent;
  border-color: blue;
}
.program_info {
  padding: 2rem;
}
.program_info p {
  margin: 1.2rem 0 2rem;
}
.program_image img {
  border-radius: 15px 15px 0 0;
}
/*======================PROMO=========================*/

.promo {
  align-items: center;
  background: rgb(247, 240, 255);
}
.slider_container {
  justify-content: center;
  display: flex;
  padding-bottom: 2rem;
}
.slider {
  position: relative;
  width: 80%;
  overflow: hidden;
}
.images {
  display: flex;
  width: 100%;
}
.images img {
  height: 400px;
  width: 100%;
  transition: all 0.15s ease;
}
.images input {
  display: none;
}
.dots {
  display: flex;
  justify-content: center;
  margin: 5px;
  padding-top: 3%;
}
.dots label {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: solid #ff8800 3px;
  cursor: pointer;
  transition: all 0.15s ease;
  margin: 5px;
}
.dots label:hover {
  background: #ff8800;
}
#img1:checked ~ .m1 {
  margin-left: 0;
}
#img2:checked ~ .m2 {
  margin-left: -100%;
}
#img3:checked ~ .m3 {
  margin-left: -200%;
}
#img4:checked ~ .m4 {
  margin-left: -300%;
}

/*======================ABOUT=========================*/

.about {
  background: rgb(205, 169, 245);
}
.abouts {
  color: #030303;
  text-align: center;
}
.abouts p {
  padding-top: 1rem;
}
.abouts a {
  color: blue;
  text-decoration: underline;
  padding-top: 5%;
}

/*======================FAQ=========================*/
.faqs {
  background: rgb(247, 240, 255);
  color: antiquewhite;
}
.faqs h2 {
  color: black;
}
.faqs_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.faq {
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 1.4rem;
  height: fit-content;
  background: rgb(12, 105, 211);
  cursor: pointer;
}
.faq h4 {
  font-size: 1rem;
  line-height: 2.2;
}
.faq_icon {
  align-self: flex-start;
  font-size: 1.2rem;
}
.faq p {
  display: none;
}
.faq.open p {
  display: block;
}

/*======================FOOTER=========================*/
footer {
  background: rgb(23, 23, 58);
  color: aliceblue;
  padding: 1rem;
  font-size: 1.2rem;
  text-align: center;
}

/*====================MEDIA QUERYES TABLET=========================*/
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.7rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.2rem;
  }
}
/* ==================== MEDIA QUERIES TABLET ========================== */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.7rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.2rem;
  }

  /* ============================== NAVBAR ============================== */
  nav button {
    display: inline-block;
    background: transparent;
    font-size: 1.8rem;
    color: black;
    cursor: pointer;
  }
  nav button#close-menu-btn {
    display: none;
  }

  .nav_menu {
    background: white;
    position: fixed;
    top: 5rem;
    height: 40%;
    width: 100%;
    flex-direction: column;
    gap: 0;
    display: none;
    text-align: center;
  }
  .nav_menu li {
    width: 100%;
    height: 5rem;
    padding-top: 25px;
  }

  .nav_menu li a {
    color: #030303;
    width: 100%;
    height: 100%;
    display: colum;
    place-items: center;
  }
  .nav_menu li a:hover {
    color: black;
    font-size: 600;
    transition-duration: 300ms;
    border-bottom: 3px solid rgb(15, 12, 29);
  }
  .nav_menu li.active a {
    color: black;
    font-size: 600;
    transition-duration: 300ms;
    border-bottom: 3px solid rgb(15, 12, 29);
  }
  /* ============================== HEADER ============================== */
  header {
    height: 52vh;
    margin-bottom: 4rem;
  }
  .header_container {
    gap: 0;
    padding-bottom: 3rem;
  }

  /* ============================== PROGRAM ============================== */
  .programs {
    margin-top: 0;
  }
  .programs_container {
    grid-template-columns: 1fr 1fr;
  }

  /* ============================== FAQS ============================== */
  .faqs_container {
    grid-template-columns: 1fr;
  }
  .faq {
    padding: 1.5rem;
  }
}

/*====================MEDIA QUERYES HANPHONE=========================*/
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-sm);
  }
  /* ============================== NAV ============================== */
  .nav_menu {
    right: 0%;
  }

  /* ============================== HEADER ============================== */
  header {
    height: 100vh;
  }
  .header_container {
    grid-template-columns: 1fr;
    text-align: center;
    margin-top: 0;
  }
  .header_left p {
    margin-bottom: 1.3rem;
  }

  /* ============================== PROGRAM ============================== */
  .programs_container {
    grid-template-columns: 1fr;
  }

  /* ============================== PROMO ============================== */
  .promo {
    height: auto;
  }
  .slider img {
    width: 100%;
    height: auto;
  }
}
