@media screen and (max-width: 600px) {

    body{
        background-image: url(mobile2.png);
        background-position: center;
        background-size: cover;
    }

    #menu-icon{
        display: initial;
        color: #193444;
    }

    .logo{
        width: 130px;
        height: auto;
    }

    header .navbar-about{
        position: absolute;
        display: flex;
        top: -400px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background-color: #f8f8f8;
        transition: .3s;
    }

    .navbar-about.active{
        top: 70px;
    }

    .navbar-about a{
        padding: 1.5rem;
        display: block;
    }

    .navbar-about  a:after{
        left: 40%;
        bottom: 10px;
    }

    .navbar-about a.active:after{
        width: 20%;
    }
    
    .navbar-about a:hover:after{
        width: 20%;
    }

    .home{
        margin-bottom: auto;
        max-width: 600px;
    }
    .home-content h1 {
        padding: 100px;
        font-size: x-small;
    }

    .home-content p {
        max-width: 600px;
        font-size: 16px; 
        margin-left: 5%; 
        margin-top: 100%;
    }

    h3 {
        margin-left: 60%;
        padding-top: 45%;
        padding-left: 10%;
        font-size: 1.4rem;
    }

    .container {
        margin-right: 30px; 
        margin-top: 20px; 
    }

    .container .Item {
        padding: 5px; 
        padding-right: 1%;
        margin: 5px; 
        width: 90px;
    }

    .container p {
        font-size: 12px; 
        margin-top: 5px; 
    }

    .container img.medium {
        width: 200px; 
        height: auto;
    }

    .container2 {
        margin-right: 30px; 
        margin-top: 30px; 
    }

    .container2 .Item{
        padding: 5px;
        margin: 5px;
        
    }

    .container2 img.medium {
        width: 200px; 
        height: auto;
    }

    .history{
        text-align: center;
        flex-direction: column;
        padding-top: 15%;
    }

    h4 {
        font-size: 24px; 
        padding-right: 43%;
    }

    .container3 {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 10%;
    }

    .contered text {
        text-align: center;
        padding-bottom: 15%;

    }

    .container3 img{
        max-width: 100%;
        margin-left: 50px;
    }

    .footer{
        width: 100%;
        padding: 1rem;
        text-align: center;
    }
}
